/* Webfonts: Copyright © Letters From Sweden. All rights reserved. 
To obtain a license, please see: https://lettersfromsweden.se */
@font-face {
    font-family: 'Mikro-Medium';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/Mikro-Medium.woff') format('woff'),
         url('../fonts/Mikro-Medium.woff2') format('woff2');
    
}

/*
This website uses the Source Sans Pro OpenType font, developed by Adobe
and used here under the terms of the SIL Open Font License, Version 1.1:
http://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web
*/
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceSansPro-Regular.otf.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular.otf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('../fonts/SourceSansPro-SemiboldIt.otf.woff2') format('woff2');
}

.font-base {
    font-family: 'Source Sans Pro', 'Helvetica', 'Trebuchet MS', 'Arial', sans-serif; 
    color: #362C28;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;   
}

.display {
    font-family: 'Mikro-Medium';
    font-feature-settings: 'ss02', 'liga' 01, 'kern' 1;
    font-size: 2.5em;
    letter-spacing: 0.25px;
    line-height: 1.25;
}

.headline-large {
    font-size: 2em;
    line-height: 1.25;
}

.headline-middle {
    font-size: 1.625em;
    letter-spacing: 0.15px;
    line-height: 1.25;
}

.headline-small {
    font-size: 1.25em;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.body {
    font-size: 1.25em;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.link {
    color: #362C28;
}

.link:hover {
    color: #0E60FF;
}
