/* CONTENTS
    * Basic layout settings
    * Global component styling
*/

/*BASIC LAYOUT SETTINGS*/
* {
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    margin: 0;
}

/*GLOBAL COMPONENT STYLING*/

/*Button*/
.button {
    padding: 10px 15px;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: var(--box-shadow-01);
    transition: all .125s ease-in-out;
}

.button:hover {
    translate: -4px -4px;
    box-shadow: var(--box-shadow-02);
}
