/* CONTENTS
    * Basic layout settings
    * Global component styling
*/

/*BASIC LAYOUT SETTINGS*/
* {
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    margin: 0;
}

/*GLOBAL COMPONENT STYLING*/

/*Button*/
.button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    padding: var(--spacing-02) var(--spacing-03);
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: var(--box-shadow-01);
    transition: all .125s ease-in-out;
}

.button:hover {
    transform: translate(-4px, -4px);
    box-shadow: var(--box-shadow-02);
}

.button:focus {
    outline: 3px solid var(--color-secondary);
    outline-offset: -3px;
    transform: translate(-4px, -4px);
    box-shadow: var(--box-shadow-02);
}

/*Footer*/
footer {
    width: 100vw;
    background-color: var(--color-secondary);
    padding: var(--spacing-03) var(--spacing-04);
    margin-top: var(--spacing-08);
}

footer > p {
    margin: 0;
}
