/* Typography */
h1, h2, h3, h4, p, ul {
    color: #362C28;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: 'Mikro-Medium', 'Source Sans Pro', 'Helvetica', 'Trebuchet MS', 'Arial', sans-serif; 
    font-size: 2.5em;
    letter-spacing: 0.25px;
}

h1:first-child {
    margin-top: 0;
}

h2, h3, h4 {
    font-family: 'Source Sans Pro', 'Helvetica', 'Trebuchet MS', 'Arial', sans-serif; 
    margin-bottom: 0;
    font-weight: normal;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.625em;
    letter-spacing: 0.15px;
}

h4 {
    font-size: 1.25em;
    letter-spacing: 0.5px;
    font-weight: bold;
}

p, ul {
    font-family: 'Source Sans Pro', 'Helvetica', 'Trebuchet MS', 'Arial', sans-serif; 
    font-size: 1.25em;
    letter-spacing: 0.5px;
    line-height: 1.5;
    max-width: 700px;
}

/* Mobile Layout */
.left__area {
    width: 100%;
    height: 66%;
    background-color: #fff969;
    padding: 20px;
}


.right__area {
    padding: 50px;
    overflow-y: auto;
}

/* Tablet layout */
@media screen and (min-width: 600px) {

    .left__area {
        height: 75%;
    }

}

/* Desktop Layout */
@media screen and (min-width: 960px) {

    .left__area {
        width: 50%;
        height: 100%;
        background-color: #fff969;
        display: flex;
        padding: 20px;
    }


    .right__area {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 50px;
        overflow-y: auto;
    }

}
