main {
    padding: 
        var(--spacing-06)
        var(--spacing-04) 
        var(--spacing-08)
        var(--spacing-04);
}

#stories h2 {
    margin-top: 0;
    margin-bottom: var(--spacing-04);
}

#about h2 {
    margin-top: var(--spacing-06);
    margin-bottom: var(--spacing-04);
}

#about p {
    margin-top: var(--spacing-02);
    margin-bottom: 0;
}

#about a {
    margin-top: var(--spacing-05);
}
