/**
 * General Styling
 **/
* {
    box-sizing: border-box; 
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

/**
 * Mobile Layout
 **/
.greetings {
    width: 100%;
    height: 60%;
    background-color: #fff969;
    display: flex;
    align-items: center;
}

.description {
    width: 100%;
    height: 40%;
    display: flex;
    position: relative;
}

.greetings_container {
    width: 100%;
}

.greetings_container__text {
    margin: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif; 
	color: #0E60FF;
    font-size: 90px;
    line-height: 1.25;
}

.description__text {
    top: -60px;
    margin: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif; 
	color: #362C28;
    font-size: 42px;
    line-height: 1.25;
    font-weight: bold;
    position: absolute;
}

.link {
    color: black;
}

.link:hover {
    color: #0E60FF;
}


/**
 * Tablet Layout
 **/
 @media(min-width: 600px) {
    .greetings_container__text {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 140px;
    }
    .description__text {
        top: -66px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 48px;
    }
}

/**
 * Tablet Layout 2
 **/
@media(min-width: 840px) {
    .greetings_container__text {
        margin-left: 18%;
        margin-right: 18%;
    }
    .description__text {
        margin-left: 18%;
        margin-right: 18%;
    }
}

/**
 * Desktop Layout
 **/
 @media(min-width: 960px) {
    .greetings {
        width: 60%;
        height: 100%;
        align-items: flex-start;
    }
    .description {
        width: 40%;
        height: 100%;
    }
    .description__text {
        top: 60%;
        left: -100px;
        margin: 20px;
    }
    .greetings_container__text {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/**
 * Desktop Layout 2
 **/
 @media(min-width: 1200px) {
    .greetings_container__text {
        font-size: 160px;
    }
}

/**
 * Widescreen Layout
 **/
 @media(min-width: 1440px) {
    .description__text {
        left: -100px;
        width: 600px;        
    }
    .greetings_container__text {
        font-size: 200px;
        width: 800px;
    }
}
