/* General Styling */
* {
    box-sizing: border-box; 
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.base-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; 
	color: #362C28;
}

.greetings__text {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; 
    color: #0E60FF;
    font-size: 90px;
    line-height: 1.25;
    font-weight: 700;
    font-style: normal;
}

.large-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; 
    font-size: 42px;
    line-height: 1.25;
    font-weight: 700;
    font-style: normal;
}

.middle-font {
    font-size: 22px;
    line-height: 1.25;
    font-weight: 700;
}

.copy {
    font-size: 18px;
    line-height: 1.25;
    font-weight: 400;
}

.link {
    color: black;
}

.link:hover {
    color: #0E60FF;
}

/* Only for impressum */
.content {
    width: 100%;
    height: 70%;
    padding: 20px;
    background-color: #fff969;
}

#impressum {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Mobile Layout */
.greetings-container {
    width: 100%;
    height: 60%;
    background-color: #fff969;
    display: flex;
    align-items: center;
}

.description {
    width: 100%;
    height: 40%;
    display: flex;
    position: relative;
}

.greetings {
    width: 100%;
}

.greetings__text {
    margin: 20px;
}

.description__text {
    top: -60px;
    margin: 20px;
    position: absolute;
}

/* Tablet Layout */
 @media(min-width: 600px) {
    .greetings__text {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 140px;
    }

    .description__text {
        top: -66px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 48px;
    }
}

/* Bigger Tablet Layout */
@media(min-width: 840px) {
    .greetings__text,
    .description__text {
        margin-left: 18%;
        margin-right: 18%;
    }
}

/* Desktop Layout */
 @media(min-width: 960px) {
    .greetings-container {
        width: 60%;
        height: 100%;
        align-items: flex-start;
    }

    .description {
        width: 40%;
        height: 100%;
    }

    .description__text {
        top: 60%;
        left: -100px;
        margin: 20px;
    }

    .greetings__text {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* Bigger Desktop Layout */
 @media(min-width: 1200px) {
    .greetings__text {
        font-size: 160px;
    }
}

/* Widescreen Layout */
 @media(min-width: 1440px) {
    .description__text {
        left: -100px;
        width: 600px;        
    }

    .greetings__text {
        font-size: 200px;
        width: 800px;
    }
}
