/* CONTENTS
    * Basic layout settings
        * Box-Sizing
        * Html & Body Reset
        * Main Tag margins
    * Global component styling
        * Button
        * Footer
    * Accessibility
*/

/*BASIC LAYOUT SETTINGS*/
* {
    box-sizing: border-box; 
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

main {
    margin-left: var(--margin-main-horizontal);
    margin-right: var(--margin-main-horizontal);
    margin-bottom: var(--margin-main-vertical);
}

/* Main margins for tablet */
@media screen and (min-width: 600px) {

    main {
        --margin-main-horizontal: var(--spacing-10);
        --margin-main-vertical: var(--spacing-10);
    }

}

/*GLOBAL COMPONENT STYLING*/

/*Button*/
.button {
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.button-background {
    display: flex;
    align-items: center;
    padding: var(--spacing-02) var(--spacing-03);
    background-color: var(--color-primary);
    color: var(--color-white);
    will-change: transform;
    transition: transform .5s ease;
}

/*Button Shadow*/
.button::after {
    content: "";
    position: absolute;
    background-color: var(--color-black);
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(4px, 4px);
  }

.button:hover .button-background {
    transition: transform .125s ease;
    transform: translate(-4px, -4px);
}

.button:active .button-background {
    background-color: var(--color-primary-dark);
}

.button:focus .button-background {
    transition: transform .125s ease;
    background-color: var(--color-primary-dark);
    transform: translate(-4px, -4px);
}

.trailing-icon::after {
    content: "-->";
    margin-left: var(--spacing-01);
}

.leading-icon::before {
    content: "<--";
    margin-right: var(--spacing-01);
}

/*Footer*/
footer {
    width: 100%;
    background-color: var(--color-secondary);
    padding: var(--spacing-03) var(--spacing-04);
}

footer p {
    margin: 0;
}

/* Tablet layout */
@media screen and (min-width: 600px) {

    footer {
        padding-left: var(--spacing-10);
        padding-right: var(--spacing-10);
    }

}

/* Desktop footer layout */
@media screen and (min-width: 1024px) {

    footer {
        width: 70%;
        padding-left: var(--spacing-05);
        padding-right: var(--spacing-05);
        margin-left: 30%;
        background-color: var(--color-white);
    }

    footer p {
        text-align: right;
    }
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {

    .button:hover {
        transform: none;
        box-shadow: var(--box-shadow-01);
        background-color: var(--color-primary-dark);
    }

  }
