/* CONTENTS
    * Basic layout settings
    * Global component styling
        * Button
        * Footer
*/

/*BASIC LAYOUT SETTINGS*/
* {
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    margin: 0;
}

/*GLOBAL COMPONENT STYLING*/

/*Button*/
.button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    padding: var(--spacing-02) var(--spacing-03);
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: var(--box-shadow-01);
    transition: all .125s ease-in-out;
}

.button:hover {
    transform: translate(-4px, -4px);
    box-shadow: var(--box-shadow-02);
}

.button:focus {
    outline: 3px solid var(--color-secondary);
    outline-offset: -3px;
    transform: translate(-4px, -4px);
    box-shadow: var(--box-shadow-02);
}

/*Footer*/
footer {
    width: 100%;
    background-color: var(--color-secondary);
    padding: var(--spacing-03) var(--spacing-04);
}

footer p {
    margin: 0;
}

/* Tablet layout */
@media screen and (min-width: 600px) {

    footer {
        padding-left: var(--spacing-10);
        padding-right: var(--spacing-10);
    }

}

/* Desktop footer layout */
@media screen and (min-width: 1024px) {

    footer {
        width: 70%;
        margin-left: 30%;
        background-color: var(--color-white);
    }

    footer p {
        text-align: right;
    }
}
