article {
    max-width: 60ch;
}

/* Tablet layout */
@media screen and (min-width: 700px) {

    main {
        display: flex;
        justify-content: flex-end;
    }

}

/* Desktop Layout */
@media screen and (min-width: 1024px) {

    article {
        max-width: 708px;
    }

    main {
        justify-content: center;
        margin-left: calc(30% + var(--margin-main-horizontal));
    }

}
