/*
 * The info-box highlights relevant information.
 * It can contain clickable elements, such as links.
 */
.info-box {
    padding: var(--spacing-04);
    margin: var(--spacing-08) 0;
    outline: 1px solid var(--color-black);
    box-shadow: var(--box-shadow-01);
    transition: all .5s ease-in-out;
}

/*Desktop Layout*/
/* Desktop layout */
@media screen and (min-width: 1024px) {

    .info-box {
        display: inline-block;
    }

}