/*
 * The info-box highlights relevant information.
 * It can contain clickable elements, such as links.
 */
.info-box {
    position: relative;
    margin: var(--spacing-08) 0;
}

.info-box-content {
    display: block;
    text-decoration: none;
    background-color: var(--semantic-color-surface-standard);
    color: var(--semantic-color-content-standard);
    border-radius: var(--semantic-border-radius-medium);
    padding: var(--spacing-04);
}

.info-box-content:hover {
    background-color: var(--semantic-color-surface-hovered);
}

.info-box-content:active {
    background-color: var(--semantic-color-surface-pressed);
}

.info-box-content:focus {
    transition: transform .125s ease;
    background-color: var(--semantic-color-surface-focussed);
}

/*Desktop Layout*/
@media screen and (min-width: 1024px) {

    .info-box {
        display: inline-block;
    }

}
