/*
    Keyfacts represent the most important facts 
    about a story. 
*/

.keyfacts {
    background-color: var(--semantic-color-surface-standard);
    border-radius: var(--semantic-border-radius-medium);
    border-width: var(--semantic-border-strength-none);
    padding: 20px;
    margin-top: var(--spacing-08);
    margin-bottom: var(--spacing-08);
}

.keyfacts dt {
    color: var(--semantic-color-content-subtle);
}

.keyfacts dd {
    margin-left: 0;
    margin-bottom: 15px;
}

.keyfacts :last-child {
    margin-bottom: 0;
}
