/*Mobile Layout*/

.welcome-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 66vh;
    padding-top: var(--spacing-04);
    padding-bottom: var(--spacing-06);
    padding-left: var(--spacing-04);
    padding-right: var(--spacing-04);
    background-color: var(--semantic-color-surface-contrast);
}

/*Greeting on homepage*/
.welcome-title {
    font-family: 'Mikro', 'Inter var', sans-serif;
    font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'ordn' on, 'ss02' on, 'ss03' on;
    
    /*Properties for type scaling*/
    --font-size-min: 4.375rem; /*70px*/
    --font-size-max: 7.5rem; /*120px*/
    --font-size-scaling: 15vw;
    
    /*Fallback font-size*/
    font-size: var(--font-size-min);
    font-weight: 800;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: var(--semantic-color-content-accent);
    max-width: 20ch;
    margin: 0;
}

/*Scales greeting if clamp is supported on desktop */
@supports (font-size: clamp(1rem, 3vw, 3rem)) {

    .welcome-title {
        /*Scales the font between a minimum and maximum*/
        font-size: clamp(
            var(--font-size-min),
            calc(1rem + var(--font-size-scaling)), 
            var(--font-size-max)
            );
    }

}

.welcome-subtitle {
    margin-top: var(--spacing-03);
    color: var(--semantic-color-content-inverse);
}

.welcome-header nav {
    padding: 0;
}

.welcome-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.welcome-header li {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-item {
    margin: 0;
    text-decoration: none;
    padding-inline: var(--spacing-03);
    padding-block: var(--spacing-02);
    background-color: var(--semantic-color-surface-onContrast-enabled);
    color: var(--semantic-color-content-inverse);
    border-radius: var(--semantic-border-radius-medium);
    transition: all .125s ease;
    
}

.menu-selected {
    background-color: var(--semantic-color-surface-onContrast-selected);
}

.menu-item:hover {
    transition: all .125s ease;
    background-color: var(--semantic-color-surface-onContrast-hovered);
}

.menu-item:active {
    background-color: var(--semantic-color-surface-onContrast-pressed);
}

.menu-item:focus-visible {
    transition: all .125s ease;
    background-color: var(--semantic-color-surface-onContrast-focussed);
    outline-style: solid;
    outline-width: var(--semantic-border-strength-max);
    outline-color: var(--semantic-color-border-inverse);
}

/* Tablet layout */
@media screen and (min-width: 600px) {

    .welcome-header {
        padding-top: var(--spacing-08);
        padding-bottom: var(--spacing-08);
        padding-left: var(--spacing-06);
        padding-right: var(--spacing-06);
    }

}

/* Desktop layout */
@media screen and (min-width: 1024px) {

    .welcome-title {
        /*Properties for type scaling*/
        --font-size-min: 3.438rem; /*55px*/
        --font-size-max: 5rem; /*80px*/
        --font-size-scaling: 4.5vw;
        font-size: var(--font-size-min);
    }

    /*Scales font if clamp is supported on desktop */
    @supports (font-size: clamp(1rem, 3vw, 3rem)) {

        .welcome-title { 
            /*Scales the font between a minimum and maximum*/
            font-size: clamp(
                var(--font-size-min),
                calc(1rem + var(--font-size-scaling)), 
                var(--font-size-max)
                );
        }
        
    }

    .welcome-header {
        position: fixed;
        width: 30%;
        max-width: 432px;
        height: 100%;
        top: 0;
        left: 0;
    }

}
